<a href="https://colab.research.google.com/github/AUMANSH/Marwadi-University-Data-Science-Capstone-Projects/blob/main/92200103209_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('SAU-GLOBAL-1-v48-0.csv')
gf= pd.read_csv('SAU-HighSeas-71-v48-0.csv')
df.to_parquet('SAU-GLOBAL-1-v48-0.parquet')
gf.to_parquet('SAU-HighSeas-71-v48-0.parquet')

In [ ]:
import pandas as pd
data_location = 'SAU-EEZ-242-v48-0-old.csv'
df = pd.read_csv(data_location)
df.rename(columns = {"fish_name": "common_name", "country": "fishing_entity"}, inplace = True)
df.to_csv('SAU-EEZ-242-v48-0.csv', header=True, index=False)
df.to_parquet('SAU-EEZ-242-v48-0.parquet')
df.to_parquet('SAU-EEZ-242-v48-0.parquet')

In [ ]:
import pandas as pd

# Assuming df is your DataFrame containing the data
# Filter for the relevant conditions
filtered_df = df[(df['area_name'].str.contains('Fiji')) &
                 (df['fishing_entity'] == 'Fiji') &
                 (df['year'] > 2000)]

# Group by year and fishing entity and sum the landed_value
result = (filtered_df.groupby(['year', 'fishing_entity'])['landed_value']
          .sum()
          .reset_index())

# Cast the summed values to a decimal format (with 2 decimal places)
result['ValueEEZCatch'] = result['landed_value'].astype(float).round(2)

# Select relevant columns
final_result = result[['year', 'fishing_entity', 'ValueEEZCatch']]

# Sort by year
final_result = final_result.sort_values(by='year')

# Display the result
print(final_result)

    year fishing_entity  ValueEEZCatch
0   2001           Fiji    62488719.36
1   2002           Fiji    53703834.33
2   2003           Fiji    69088355.08
3   2004           Fiji    70337053.33
4   2005           Fiji    69847709.97
5   2006           Fiji    73018642.06
6   2007           Fiji    86802407.18
7   2008           Fiji    71419271.49
8   2009           Fiji    68614704.47
9   2010           Fiji    60608122.43
10  2011           Fiji    60044502.90
11  2012           Fiji    55729382.68
12  2013           Fiji    50166499.71
13  2014           Fiji    55967366.73
14  2015           Fiji    56862559.36
15  2016           Fiji    58462277.84
16  2017           Fiji    69246882.66
17  2018           Fiji    64287060.96

In [ ]:
import pandas as pd

# Assuming df is your DataFrame containing the data
# Filter for the relevant conditions
filtered_df = df[((df['area_name'].str.contains('Fiji')) | (df['area_name'].isnull())) &
                  (df['fishing_entity'] == 'Fiji') &
                  (df['year'] > 2000)]

# Group by year and fishing entity and sum the landed_value
result = (filtered_df.groupby(['year', 'fishing_entity'])['landed_value']
          .sum()
          .reset_index())

# Cast the summed values to a decimal format (with 2 decimal places)
result['ValueEEZAndOpenSeasCatch'] = result['landed_value'].astype(float).round(2)

# Select relevant columns
final_result = result[['year', 'fishing_entity', 'ValueEEZAndOpenSeasCatch']]

# Sort by year
final_result = final_result.sort_values(by='year')

# Display the result
print(final_result)

    year fishing_entity  ValueEEZAndOpenSeasCatch
0   2001           Fiji               62488719.36
1   2002           Fiji               53703834.33
2   2003           Fiji               69088355.08
3   2004           Fiji               70337053.33
4   2005           Fiji               69847709.97
5   2006           Fiji               73018642.06
6   2007           Fiji               86802407.18
7   2008           Fiji               71419271.49
8   2009           Fiji               68614704.47
9   2010           Fiji               60608122.43
10  2011           Fiji               60044502.90
11  2012           Fiji               55729382.68
12  2013           Fiji               50166499.71
13  2014           Fiji               55967366.73
14  2015           Fiji               56862559.36
15  2016           Fiji               58462277.84
16  2017           Fiji               69246882.66
17  2018           Fiji               64287060.96